body{   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
    background: #F2F2F2;
    color: #111517;
}
.body-dark-theme{
    background: #111517;
    color: white;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header-nav{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    margin-bottom: 80px;
}
.inside-nav{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}
.mode-box{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.mode-link{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.mode-text{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}


.btn-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 136px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 6px;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 80px;
}
.btn-text{
    margin-left: 10px;
    color: black;
}

.inside-main{
    display: flex;
    margin-bottom: 300px;
}
.main-img{
    border-radius: 10px;
    margin-right: 120px;
}
.aside{
    display: flex;
    align-items: center;
    width: 598px;
}
.main-title{
    margin: 0;
    margin-bottom: 23px;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}
.left-side{
    max-width: 300px;
}
.left-side-text{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
span{
    margin-left: 5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}
.right-side{
    margin: 0;
    margin-top: -120px;
    padding: 0;
    max-width: 300px;
}
.right-side-text{
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.add-countries{
    display: flex;
    align-items: center;
    margin-top: 68px;
}
.add-countries-text{
    margin: 0;
    margin-right: 16px;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px; 
}
.add-countries-link{
    text-decoration: none;
    padding: 5px 27px;
    margin: 0;
    margin-left: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
    border-radius: 2px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
}
.dark-mode{
    background: #373838;
    color: white;
}
.mode-white{
    color: white;
}
